* {
    padding: 0;
    margin: 0;
  }
  
  .signup {
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .signup .card {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    min-height: 450px;
    overflow: hidden;
  }
  
  .signup .card .left {
    flex: 1;
    background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
      url("../images/signup.jpg") center;
    background-size: cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
  }
  
  .signup .card .left h1 {
    margin-top: 80px;
    font-size: 70px;
    line-height: 60px;
    color: white;
    padding: 0.5px;
  }
  
  .signup .card .left span {
    font-size: 14px;
  }
  
  .signup .card .left button {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: rebeccapurple;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signup .card .right {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
  }
  
  .signup .card .right h1 {
    color: #555;
  }
  
  .signup .card .right form {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  
  .signup .card .right form input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 20px 10px;
  }
  
  .signup .card .right form button {
    width: 50%;
    padding: 15px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signup .card .right form button:hover {
    background: rgba(39, 11, 96, 0.5);
  }
  